<h1>Districts#index</h1>
<p>Find me in app/views/districts/index.html.erb</p>

<div class="books-search">
  <input type="text" id="districts-search-txt" autofocus>
  <div class="results" id="districts-search-results"></div>
</div>

<script>
  $(function() {
    new app.Districts;
  });
</script>

